{% extends 'base.html.twig' %}

{% block title %}Ma Commande - La boutique
{% endblock %}

{% block content %}

	<section class="bg-img1 txt-center p-lr-15 p-tb-92 backimg">
		<h2 class="ltext-105 cl0 txt-center">
			Mon compte
		</h2>
	</section>

	<section class="bg0 p-t-104 ">
		<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
			<h3 class="mtext-111 cl2 p-b-16">
				Ma Commande
				{{ order.reference }}
			</h3>

			<p class=" cl6 p-b-26">
				<strong>Commande passée le :
				</strong>
				{{ order.createdAt|date('d/m/Y') }}<br/>
				<strong>Référence de ma commande :
				</strong>
				<small>{{ order.reference }}</small><br/>
				<strong>Transporteur choisi :
				</strong>
				{{ order.carriername }}
				<br/><br/>

				<a href=" {{ path('account') }}" class="btn btn-info btn-sm float-left ">
					Retour</a>
				<a href="{{ path ('account_address_add') }}" class="btn btn-info btn-sm">
					La Boutique
				</a>.</p>
		</a>
	</p>
</div></section><hr><div class="wrap-table-shopping-cart">
<table class="table-shopping-cart">

	<tr class="table_head ">
		<th class="text-center" scope="column-1">Produit</th>
		<th class="text-center" scope="column-2">Quantité</th>
		<th class="text-center" scope="column-3">Prix unitaire</th>
		<th class="text-center" scope="column-4">Total</th>

	</tr>

	{% for product in order.orderDetails %}
		<tr class="table_row">
			<td class="column-1 text-center">{{ product.product }}</td>
			<td class="column-2 text-center">{{ product.quantity }}</td>
			<td class="column-3 text-center">{{ (product.price / 100)|number_format(2 , ',','.') }}
				€</td>
			<td class="column-4 text-center">{{ (product.total / 100)|number_format(2 , ',','.') }}
				€</td>
		</tr>
	{% endfor %}
</table></div><div class="flex-w flex-t bor12 p-b-13">
<div class="size-208">
	<span class="stext-110 cl2">
		ARTICLES
	</span>
</div>

<div class="size-209 text-right">
	<span class="mtext-110 cl2">
		{{ (order.getTotals / 100) | number_format(2 , ',','.') }}
		€
	</span>
</div></div><div class="flex-w flex-t bor12 p-b-13">
<div class="size-208">
	<span class="stext-110 cl2">
		LIVRAISON
	</span>
</div>

<div class="size-209 text-right">
	<span class="mtext-110 cl2 ">
		{{ (order.carrierprice / 100)| number_format(2, ',', '.') }}
		€
	</span>
</div></div><div class="flex-w flex-t bor12 p-b-13">
<div class="size-208">
	<span class="stext-110 cl2">
		TOTAL
	</span>
</div>

<div class="size-209 text-right">
	<span class="mtext-110 cl2 ">
		{{ ((order.carrierprice + order.getTotals) / 100)| number_format(2, ',', '.') }}
		€<br/>
	</span>
</div></div>{% endblock %}

