            
            <div class="col-sm-6 col-md-3 col-lg-3 p-b-35 isotope-item">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
						<a href="{{ path('product', { 'slug': product.slug }) }}">
							<img src="/uploads/{{ product.illustration}}" alt="{{ product.name }}">

							<a href="{{ path('product', { 'slug': product.slug }) }}" class="block2-btn   bg0 bor2 hov-btn1  trans-04 flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
								Découvrir
							</a>
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="{{ path('product', { 'slug': product.slug }) }}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{ product.name }}
								</a>

								<span class="stext-105 cl3">
									{{ (product.price / 100)|number_format(2,',')}} €
								</span>
							</div>
						
							<div class="block2-txt-child2 p-t-3 ">
							<a href="{{path ('add_to_cart', {'id' : product.id}) }}"  class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 "  title="ajouter au panier">
								<i class="zmdi zmdi-shopping-cart-plus"></i>
							</a>
																						
							</div>
						</div>
					</div>
				</div>
            {# <div class="product-item text-center">
            <a href="{{ path('product', { 'slug': product.slug }) }}"><img src="/uploads/{{ product.illustration}}" alt="{{ product.name }}" class="img-fluid" style="display:inline"></a>
                <h5> {{ product.name }}</h5>
                <span class="product-subtitle"> {{ product.subtitle }}</span>
                <span class="product-price">{{ (product.price / 100)|number_format(2,',')}} €</span>
            </div> #}
